<div class="view-content">
  <div class="views-row views-row-1 views-row-odd views-row-first">
    <div typeof="sioc:UserAccount" about="/users/jay-billings" class="row solstice-user-profile">
      <div class="col-lg-24">
        <div class="margin-bottom-25 solstice-block-default solstice-block-white-bg">
          <div class="row">
            <div class="col-sm-6">
              <div class="user-picture">
                <a href="/users/jay-billings" title="View user profile."><img class="media-object dp img-responsive" typeof="foaf:Image" src="https://secure.gravatar.com/avatar/509c1447f3ba7ad392ef0523d0593090.jpg?d=mm&amp;s=185&amp;r=G" alt="Jay Billings's picture" title="Jay Billings's picture"></a>  
              </div>
            </div>
            <div class="col-sm-18">
              <h3><a href="https://www.eclipse.org/user/jbillings" title="Permalink to your profile: https://www.eclipse.org/user/jbillings">Jay Billings <i class="fa fa-link" aria-hidden="true"></i></a></h3>
              <h5>Research Scientist at Oak Ridge National Laboratory</h5>
              <hr>
              <div class="row">
                <div class="col-sm-18">
                  <div class="field field-name-field-profile-bio field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even">I lead the Scientific Software Development Team at Oak Ridge National Laboratory. I lead Eclipse ICE and EAVP. I was appointed to the Eclipse Architecture Council in February 2016. I also won the Top Newcomer Evangelist Award for 2016. It has also been my pleasure to work with the Eclipse Science Working Group.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer>
            <hr>
            <div class="row">
              <div class="col-sm-18">
              </div>
              <div class="col-sm-6">
                <ul class="list-inline text-right social-media-links">
                  <li class="github first"><a href="https://www.github.com/jayjaybillings" target="_blank" rel="nofollow"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                  <li class="twitter"><a href="https://www.twitter.com/jayjaybillings" target="_blank" rel="nofollow"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li class="website last"><a href="http://www.jayjaybillings.org" target="_blank" rel="nofollow"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
  <div class="views-row views-row-2 views-row-even">
    <div typeof="sioc:UserAccount" about="/users/matthew-gerring" class="row solstice-user-profile">
      <div class="col-lg-24">
        <div class="margin-bottom-25 solstice-block-default solstice-block-white-bg">
          <div class="row">
            <div class="col-sm-6">
              <div class="user-picture">
                <a href="/users/matthew-gerring" title="View user profile."><img class="media-object dp img-responsive" typeof="foaf:Image" src="https://secure.gravatar.com/avatar/b3267ceb29edc9768639610cdd745bb5.jpg?d=mm&amp;s=185&amp;r=G" alt="Matthew Gerring's picture" title="Matthew Gerring's picture"></a>  
              </div>
            </div>
            <div class="col-sm-18">
              <h3><a href="https://www.eclipse.org/user/mgerring" title="Permalink to your profile: https://www.eclipse.org/user/mgerring">Matthew Gerring <i class="fa fa-link" aria-hidden="true"></i></a></h3>
              <h5>Development Manager at Halliburton</h5>
              <hr>
              <div class="row">
                <div class="col-sm-18">
                  <div class="field field-name-field-profile-bio field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even">Matthew Gerring is a software development manager working in the scientific software space for the last twenty years. For ten years he worked at EASA software which builds apps around engineering, science and financial models. After that he had a career of another ten years working at synchrotrons in the UK and France. Today he works for Halliburton a US oil and gas company based in Houston. These days his focus is creating scalable microservices for scientific and engineering codes. Matthew has worked with the Eclipse Science Working Group since its inception.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer>
            <hr>
            <div class="row">
              <div class="col-sm-18">
              </div>
              <div class="col-sm-6">
                <ul class="list-inline text-right social-media-links">
                  <li class="twitter first"><a href="https://www.twitter.com/MatthewGerring" target="_blank" rel="nofollow"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li class="website last"><a href="http://www.halliburton.com" target="_blank" rel="nofollow"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
  <div class="views-row views-row-3 views-row-odd">
    <div typeof="sioc:UserAccount" about="/users/serban-maerean" class="row solstice-user-profile">
      <div class="col-lg-24">
        <div class="margin-bottom-25 solstice-block-default solstice-block-white-bg">
          <div class="row">
            <div class="col-sm-6">
              <div class="user-picture">
                <a href="/users/serban-maerean" title="View user profile."><img class="media-object dp img-responsive" typeof="foaf:Image" src="https://secure.gravatar.com/avatar/af06a0f860ca0ff1d64b522c81ac2a7a.jpg?d=mm&amp;s=185&amp;r=G" alt="Serban Maerean's picture" title="Serban Maerean's picture"></a>  
              </div>
            </div>
            <div class="col-sm-18">
              <h3><a href="https://www.eclipse.org/user/smaerean" title="Permalink to your profile: https://www.eclipse.org/user/smaerean">Serban Maerean <i class="fa fa-link" aria-hidden="true"></i></a></h3>
              <hr>
              <div class="row">
                <div class="col-sm-18">
                  <div class="field field-name-field-profile-bio field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="views-row views-row-4 views-row-even">
    <div typeof="sioc:UserAccount" about="/users/tracy-miranda" class="row solstice-user-profile">
      <div class="col-lg-24">
        <div class="margin-bottom-25 solstice-block-default solstice-block-white-bg">
          <div class="row">
            <div class="col-sm-6">
              <div class="user-picture">
                <a href="/users/tracy-miranda" title="View user profile."><img class="media-object dp img-responsive" typeof="foaf:Image" src="https://secure.gravatar.com/avatar/07d027fd3e50aaac02350c7c572dc999.jpg?d=mm&s=185&r=G" width="185" height="185" alt="Tracy Miranda's picture" title="Tracy Miranda's picture"></a>  
              </div>
            </div>
            <div class="col-sm-18">
              <h3><a href="https://www.eclipse.org/user/tmiranda" title="Permalink to your profile: https://www.eclipse.org/user/tmiranda">Tracy Miranda <i class="fa fa-link" aria-hidden="true"></i></a></h3>
              <h5>Kichwa Coders</h5>
              <hr>
              <div class="row">
                <div class="col-sm-18">
                  <div class="field field-name-field-profile-bio field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even">Tracy Miranda is a software developer and founder of Kichwa Coders, a software consultancy specializing in Eclipse tools for scientific and embedded software. Tracy has been using Eclipse since 2003 and is actively involved in the community, particularly the Eclipse Science Working Group. Tracy has a background in electronics system design. She mentors young coders at the festival of code for Young Rewired State. Follow Tracy on Twitter @tracymiranda.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer>
            <hr>
            <div class="row">
              <div class="col-sm-18">
              </div>
              <div class="col-sm-6">
                <ul class="list-inline text-right social-media-links">
                  <li class="github first"><a href="https://www.github.com/tracymiranda" target="_blank" rel="nofollow"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                  <li class="twitter"><a href="https://www.twitter.com/tracymiranda" target="_blank" rel="nofollow"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li class="website last"><a href="https://www.kichwacoders.com" target="_blank" rel="nofollow"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
  <div class="views-row views-row-5 views-row-odd views-row-last">
    <div typeof="sioc:UserAccount" about="/users/torkild-resheim" class="row solstice-user-profile">
      <div class="col-lg-24">
        <div class="margin-bottom-25 solstice-block-default solstice-block-white-bg">
          <div class="row">
            <div class="col-sm-6">
              <div class="user-picture">
                <a href="/users/torkild-resheim" title="View user profile."><img class="media-object dp img-responsive" typeof="foaf:Image" src="https://accounts.eclipse.org/sites/default/files/styles/site_login_profile_thumbnail/public/profile_pictures/picture-719-1544104947.jpg?itok=pHSNEqE3" width="185" height="185" alt="Torkild Resheim's picture" title="Torkild Resheim's picture"></a>  
              </div>
            </div>
            <div class="col-sm-18">
              <h3><a href="https://www.eclipse.org/user/tresheim" title="Permalink to your profile: https://www.eclipse.org/user/tresheim">Torkild Resheim <i class="fa fa-link" aria-hidden="true"></i></a></h3>
              <h5>Senior Software Developer at Itema AS, Norway</h5>
              <hr>
              <div class="row">
                <div class="col-sm-18">
                  <div class="field field-name-field-profile-bio field-type-text-long field-label-hidden">
                    <div class="field-items">
                      <div class="field-item even">I am a senior software engineer and open source software enthusiast. I work for and co-own Itema AS, a software consultancy based in Trondheim, Norway.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer>
            <hr>
            <div class="row">
              <div class="col-sm-18">
              </div>
              <div class="col-sm-6">
                <ul class="list-inline text-right social-media-links">
                  <li class="github first"><a href="https://www.github.com/turesheim" target="_blank" rel="nofollow"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                  <li class="twitter"><a href="https://www.twitter.com/torkildr" target="_blank" rel="nofollow"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li class="website last"><a href="https://resheim.net" target="_blank" rel="nofollow"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>