{{ define "main" }}
   <!-- Announcements -->
   <div class="container">
	  <div id="news" class="row margin-bottom-30 margin-top-50 news-list">
	    <div class="col-sm-12 news-list-col">
	      <h2 class="heading-line margin-bottom-30">Announcements</h2>
          <div id="announcement-list-container" class="news-list" data-news-type="announcements" data-news-count="3" data-publish-target="science">
          </div>
          <ul class="list-inline block-summary-more">
            <li><a href="https://newsroom.eclipse.org/rss/news/science/news.xml" title="Subscribe to our RSS-feed"><i class="fa fa-rss margin-right-5"></i></a> <a href="/news/announcements">View all</a></li>
            <li class="news-list-links-view-all"><a href="https://newsroom.eclipse.org/node/add/news">Submit News</a></li>
          </ul>
	    </div>
	    <div class="col-sm-12 news-list-col">
	      <h2 class="heading-line margin-bottom-30">Community News</h2>
          <div id="community-list-container" class="news-list" data-news-type="community_news" data-news-count="3" data-publish-target="science">
          </div>
          <ul class="list-inline block-summary-more">
            <li><a href="https://newsroom.eclipse.org/rss/news/science/news.xml" title="Subscribe to our RSS-feed"><i class="fa fa-rss margin-right-5"></i></a> <a href="/news/community-news">View all</a></li>
            <li class="news-list-links-view-all"><a href="https://newsroom.eclipse.org/node/add/news">Submit News</a></li>
          </ul>
	    </div>
	  </div>
  </div>
  {{ .Content }}
{{ end }}
